
@import 'public/scss/variables';
@import 'public/scss/mixins';

.profile {
    
    @include respond-to(large) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}

.profile_image {
    
    @include respond-to(large) {
        width: (100% / 12) * 5;
    }
}

.profile_name  {
    border-bottom: 1px solid $darkgrey;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.profile_image {
    
    
}

.profile_prefix {
    margin-bottom: 10px;
}

.profile_content {

    @include respond-to(large) {
        padding-left: 20px;
        width: (100% / 12) * 5;
    }
}